<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.TestDAO">
	<select id="getUser" resultType="user">
		select user_id as userId, user_name as userName, user_age as userAge from user where user_id = #{userId}
		<!-- select user_id, user_name, user_age from user limit 1 -->
	</select>
</mapper>